.App {
    background-color: #ccc;
    width: 301px;
    height: 481px;
    border: 1px solid #aaa;
    margin: 100px auto 0 auto;
}

.buttons-wrapper {
    height: 399px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: center;
    align-content: space-between;
}