.Button {
    &:last-child{
       margin: 0 0 auto auto; 
       width: 149px;
    }
    &__btn{
    width: 74px;
    height: 79px;
    border: none;
    background-color: #fff;
    font-size: 24px;
    cursor: pointer;
    &--score{
        width: 149px;
    }
    }
}